
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', Arial, sans-serif;
}

body {
  background: #f9f9f9;
}


.top-header {
  display: flex;
  justify-content: space-between;
  padding: 8px 40px;
  font-size: 14px;
  background: #eee;
}

.main-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 40px;
  background: white;
  position: sticky;
  top: 0;
  z-index: 1000;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.logo {
  color: #0a8f6a;
  font-weight: bold;
  font-size: 28px;
}

.main-header input {
  width: 40%;
  padding: 10px 15px;
  border-radius: 25px;
  border: 1px solid #ccc;
  outline: none;
  transition: 0.3s;
}

.main-header input:focus {
  border-color: #0a8f6a;
  box-shadow: 0 0 10px rgba(10,143,106,0.2);
}

.icons span {
  margin-left: 15px;
  cursor: pointer;
  transition: 0.3s;
}

.navbar {
  background: #0f172a;
  padding: 12px 40px;
}

.navbar a {
  color: white;
  margin-right: 20px;
  text-decoration: none;
  font-weight: 500;
}

.navbar a:hover {
  text-decoration: underline;
}


.hero-text h1,
.hero-text h2,
.hero-text p,
.hero-text button {
  opacity: 0;
  transform: translateY(20px);
  animation: fadeInUp 1s forwards;
}

.hero-text h1 { animation-delay: 0.2s; }
.hero-text h2 { animation-delay: 0.4s; }
.hero-text p  { animation-delay: 0.6s; }
.hero-text button { animation-delay: 0.8s; }

@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.hero-text h1 {
  color: #0a8f6a;
  font-size: 36px;
}

.hero-text h2 {
  font-size: 40px;
  margin: 10px 0;
}

.hero-text p {
  font-size: 20px;
  color: #c8f112;
}

.hero-text button {
  padding: 10px 20px;
  background: #0a8f6a;
  color: white;
  border: none;
  margin-top: 15px;
  cursor: pointer;
  border-radius: 8px;
  transition: 0.3s;
}

.hero-text button:hover {
  background: #066b4a;
}

.hero img:hover {
  transform: scale(1.05);
}

/* PRICE FILTER */
.filter-section {
  text-align: center;
  padding: 20px;
  background: #fff;
  margin: 20px 0;
}

#price-range {
  width: 300px;
  margin: 10px;
}

#range-value {
  font-weight: bold;
  margin-left: 10px;
}

/* CATEGORIES */
.categories {
  padding: 60px;
  text-align: center;
}

.category-box {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.category-card {
  width: 220px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  border-radius: 12px;
}

.category-card img {
  width: 100%;
  height: 280px;
  object-fit: cover;
  border-radius: 12px;
  transition: transform 0.3s, filter 0.3s;
}

.category-card:hover img {
  transform: scale(1.1);
  filter: brightness(0.8);
}

.category-card p {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  color: rgb(242, 242, 239);
  text-shadow: 2px 2px 5px rgba(0,0,0,0.7);
  font-size: 20px;
  font-weight: bold;
  opacity: 1.5;
  transition: opacity 0.3s;
}

/* PRODUCTS */
.products {
  padding: 60px;
}

.products h2 {
  text-align: center;
  font-size: 32px;
  margin-bottom: 40px;
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px,1fr));
  gap: 25px;
}

.product-card {
  background: white;
  padding: 15px;
  text-align: center;
  border-radius: 12px;
  transition: transform 0.3s, box-shadow 0.3s, opacity 0.35s;
  position: relative;
}

.product-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 15px 25px rgba(0,0,0,0.15);
}

.product-card img {
  width: 100%;
  height: 220px;
  object-fit: cover;
  border-radius: 8px;
}

.price {
  font-weight: bold;
  margin: 10px 0;
}

.product-card button {
  padding: 8px 16px;
  background: #0a8f6a;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  opacity: 0;
  transition: opacity 0.3s;
}

.product-card:hover button {
  opacity: 1;
}

.quantity {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.quantity button {
  padding: 3px 8px;
  margin: 0 5px;
  border: none;
  background: #0a8f6a;
  color: white;
  cursor: pointer;
  border-radius: 4px;
}

.quantity .qty {
  font-weight: bold;
  font-size: 16px;
}
#cart-count.pop {
  transform: scale(1.4);
  color: #0a8f6a;
  transition: transform 0.3s;
}

#toast {
  position: fixed;
  bottom: 30px;
  right: 30px;
  background: #0a8f6a;
  color: white;
  padding: 10px 20px;
  border-radius: 8px;
  opacity: 0;
  pointer-events: none;
  transition: 0.5s;
}

.add-to-cart.added {
  background: #0a8f6a;
  opacity: 0.9;
  cursor: not-allowed;
}

.product-card.hide {
  opacity: 0;
  transform: scale(0.9);
  pointer-events: none;
}

.footer {
  background: #111;
  color: #ddd;
  margin-top: 80px;
  font-size: 14px;
}

.footer-container {
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 40px;
  padding: 60px 40px;
}

.footer-col h3,
.footer-col h4 {
  color: #fff;
  margin-bottom: 15px;
  font-weight: 600;
}

.footer-col p {
  color: #bbb;
  line-height: 1.6;
}

.footer-col ul {
  list-style: none;
}

.footer-col ul li {
  margin-bottom: 10px;
}

.footer-col ul li a {
  color: #bbb;
  text-decoration: none;
  transition: color 0.3s;
}

.footer-col ul li a:hover {
  color: #0a8f6a;
}

.footer-bottom {
  border-top: 1px solid #222;
  text-align: center;
  padding: 18px;
  background: #0b0b0b;
  color: #888;
  font-size: 13px;
}

@media (max-width: 768px) {
  .footer-container {
    text-align: center;
    padding: 40px 20px;
  }
}

@media(max-width:768px) {
  .main-header {
    flex-direction: column;
    gap: 15px;
  }

  .main-header input {
    width: 100%;
  }

  .hero {
    flex-direction: column;
    text-align: center;
    gap: 20px;
  }

  .category-box {
    flex-direction: column;
    align-items: center;
  }

  #price-range {
    width: 100%;
  }

  .footer-container {
    text-align: center;
  }
}

@media (max-width: 768px) {
  .top-header {
    flex-direction: column;
    gap: 5px;
    text-align: center;
    font-size: 13px;
  }

  .main-header {
    padding: 15px 20px;
  }

  .icons {
    display: flex;
    gap: 12px;
    font-size: 14px;
  }
}

@media (max-width: 768px) {
  .hero {
    padding: 40px 20px;
  }

  .hero-text h1 {
    font-size: 28px;
  }

  .hero-text h2 {
    font-size: 32px;
  }

  .hero-text p {
    font-size: 18px;
  }

  .hero img {
    max-width: 100%;
  }
}

@media (max-width: 768px) {
  .categories {
    padding: 40px 20px;
  }

  .category-card {
    width: 100%;
    max-width: 320px;
  }
}

@media (max-width: 768px) {
  .products {
    padding: 40px 20px;
  }

  .product-card {
    border-radius: 16px;
  }

  .product-card img {
    height: 200px;
  }

  .product-card button {
    opacity: 1; 
    margin-top: 8px;
  }
}

@media (max-width: 768px) {
  #cart-count {
    font-weight: bold;
  }
}

@media (max-width: 768px) {
  #toast {
    right: 50%;
    transform: translateX(50%);
    bottom: 20px;
  }
}

.product-card .badges {
  position: absolute;
  top: 12px;
  left: 12px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  z-index: 2;
}

.product-card .badge {
  color: white;
  font-size: 10px;
  font-weight: bold;
  padding: 3px 6px;
  border-radius: 4px;
  text-transform: uppercase;
}

.badge.new { background: #0a8f6a; }    /* Green for NEW */
.badge.sale { background: #ff4d4d; }   /* Red for SALE */
.badge.hot  { background: #f39c12; }   /* Orange for HOT */

.product-card .rating {
  margin-top: 8px;
  font-size: 14px;
  color: #f39c12;
}

.product-card .rating span {
  color: #555;
  font-size: 13px;
}

.product-card .stock {
  margin-top: 8px;
  font-size: 13px;
  font-weight: bold;
}

.stock.in-stock { color: #27ae60; }
.stock.fast-sell { color: #f39c12; }
.stock.limited { color: #e74c3c; }

.hero-text button.shop-now {
  background: #0a8f6a;
  color: white;
  border: none;
  margin-top: 15px;
  cursor: pointer;
  border-radius: 8px;
  padding: 10px 20px;
  transition: 0.3s;
}

.hero-text button.shop-now:hover {
  background: #066b4a;
}

.hero-text button.read-more {
  background: white;
  border: 2px solid #0a8f6a;
  color: #0a8f6a;
  margin-left: 10px;
  margin-top: 15px;
  cursor: pointer;
  border-radius: 8px;
  padding: 10px 20px;
  transition: 0.3s;
}

.hero-text button.read-more:hover {
  background: #0a8f6a;
  color: white;
}


.hero {
  position: relative;
  height: 90vh;
  background: url("img/blue\ image.webp") center center/cover no-repeat;
  display: flex;
  align-items: center;
  padding-left: 60px;
}

.hero img {
  display: none;
}

.hero::after {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0,0,0,0.4); 
}

.hero-text {
  position: relative;
  z-index: 2;
  color: white;
  max-width: 500px;
}
@media (max-width: 768px) {
  .hero {
    height: 45vh;
    background-size: cover;            /* gap nahi aayega */
  background-position: 90% center; /* face cut nahi hoga */
  }
}